@import "../../Constants.sass"

.card--character
    padding: 0.5rem
    position: relative
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-around
    background: red
    height: 15rem
    width: 100%
    border-radius: 3px
    overflow: hidden
    background: black
    font-family: 'Roboto', sans-serif
    color: $color--secondary
    background: radial-gradient(circle, rgba(57,57,57,1) 0%, rgba(0,0,0,1) 100%)
    transition: 0.3s
    box-shadow: 2px 2px 2px grey
    box-sizing: border-box

    &::before
        content: ''
        position: absolute
        background: radial-gradient(circle, rgba(57,57,57,1) 52%, rgba(0,0,0,1) 100%)
        opacity: 0%
        width: 100%
        height: 100%
        transition: 0.3s

    &:hover
        box-shadow: 10px 10px 10px grey

        &::before
            opacity: 100%

.card--information
    padding: 0.5rem
    position: relative
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-around
    width: 100%
    overflow: hidden
    box-sizing: border-box

.information
    width: 100%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 0.2rem
    z-index: 1

.information--main
    height: 80%
    padding: 0.5rem
    border-right: 1px solid $color--secondary
    align-items: flex-end
    text-align: right

.name
    padding: 0
    margin: 0
    font-size: 1.1rem
    color: $color--main

.gender
    padding: 0
    margin: 0
    font-size: 1.1rem

.information--secondary
    height: 90%
    padding: 0.5rem 0.5rem 0.5rem 1rem
    justify-content: space-between
    align-items: flex-start
    font-size: 0.9rem

.data--container
    width: 100%
    margin: 0.2rem
    display: flex
    justify-content: space-between
    // border-bottom: 1px solid $color--secondary

.label
    width: 55%
    display: flex
    align-items: center
    margin: 0
    font-weight: bold
    text-align: left
    word-break: break-word

.data
    margin: 0 0 0 0.2rem
    text-align: right
    display: flex
    align-items: center
    justify-content: flex-end
    width: 45%
    max-width: 100%
    word-break: break-all
    word-break: break-word

.card--options
    z-index: 1

@media (max-width: 600px)
    .card--character
        width: 100%
        height: auto
